* {
 margin : 0 ;
 padding : 0 ;
 box-sizing : border-box ;
 font-family : 'Gilroy', sans-serif;
}

html ,body {
    height: 100vh;
    width: 100vw;
}
#main {
    height: 100vh;
    width: 100vw;
    background-color: white;
    position: relative ;
    padding-top: 0.1px ;
}

#nav {
    /* background-color: crimson; */
    height: 11vh;
    width: 100vw;
    margin-top: 2vh;
    border-top: 0.15vw solid black ;
    border-bottom: 0.15vw solid black ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav h1 {
    /* background-color: aqua; */
    height: 10vh;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Monument Extended;
    font-size: 3.7vw;
    letter-spacing: -0.2vw;
}

#nav h2 {
    /* background-color: aqua; */
    font-size: 1.35vw;
    height: 11vh;
    width: 18vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 0.15vw solid black ;
    font-weight: 545;
}
 .gg-search {
 box-sizing: border-box;
 position: relative;
 display: block;
 transform: scale(var(--ggs,1));
 width: 20px;
 height: 20px;
 border: 2px solid;
 border-radius: 100%;
 margin-left: -9px;
 margin-top: -10px
}

.gg-search::after {
 content: "";
 display: block;
 box-sizing: border-box;
 position: absolute;
 border-radius: 3px;
 width: 2px;
 height: 15px;
 background: currentColor;
 transform: rotate(-45deg);
 top: 13px;
 left: 20px;
} 

#nav h2:nth-last-child(1){
    border-right: none;
    width: 12vw;
}

#nav h2:nth-last-child(2){
    width: 25vw;

}
#center {
    /* background-color: crimson; */
    height: 95vh;
    width: 100vw;
    padding: 3vw 5vw;
    position: relative;
}
#content {
    /* background-color: aqua; */
    position: relative;
    height: 100%;  
    width: 100%;  
}
#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}
#overlay1 {
    position: absolute;
    height: 40vh;
    width: 90vw;
    bottom: 0;
    background-color: rgba(0, 0, 0,0.5);
    padding: 4vw;
    mix-blend-mode: overlay;
}

#over1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4vw;
}

#over1 h1 {
    font-family: Monument Extended;
    font-weight: 900;
    color: white;
    font-size: 3vw;
}
#over1 h2 {
    /* font-family: Monument Extended; */
    font-weight: 900;
    color: white;
    font-size: 1.2vw;
    border: white 0.1vw solid;
    padding: 2.5vw;
    border-radius: 50%;
}

#over2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
     border-top: white 0.1vw solid;
}
#over2 h2 {
    /* font-family: Monument Extended; */
    color: white;
    padding-top: 2vw;
}

#scroll {
    height: 28vh;
    width: 100vw;
    /* margin-top: 10vw; */
    /* background-color: tomato; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
#container
{
    display: inline-block;
    height: 100%;
    width: 140vw;
    /* background-color: turquoise; */
    padding: 0.4vw;
    animation-name: animate ;
    animation-duration: 12s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
    animation-play-state: play;
    overflow: hidden;   
    transition: all 0.1s;
}
#container img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}
#container img {
    /* display: none; */
    height: 22vh;
    width: 22vh;
    border-radius: 50%;
    margin: 0.9vh;
    object-fit: cover;
}

@keyframes animate {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
    
}


#alphabets {
    margin-top: 1.5vw;
    margin-bottom: 5vw;
    height: 12vh;
    width: 100vw;
    padding-left: 10vh;
    padding-right: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    font-family: 'Gilroy-Italic';
    border-top: 2.5px solid black;
    border-bottom: 2.5px solid black;
}

#alphabets h3 {
    font-size: 3vw;
    font-weight: 500;
    color: black;
    cursor: pointer;
    text-transform: capitalize;
    font-style: italic;
    padding: 0.9vw;
    margin-left: 0.5vw;
     transition: all 0.5s;
}

#alphabets h3:hover {
    background-color: black;
    color: white;
    border-radius: 50%;
}

#alphabets h4 {
    font-size: 1vw;
    font-weight: 500;
    color: black;
    cursor: pointer;
    text-transform: capitalize;
    font-style: italic;
    padding: 0.3vw;
    transition: all 0.5s;
}

#alphabets h4:hover {
    background-color: black;
    color: white;
    border-radius: 50%;
    scale: 1.7;
}

#page2 {
    height: 100vh;
    width: 100vw;
}

#images {
    width: 100vw;
    height: 130vh;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2-part1 img {
    height: 110vh;
    width: 50vw;
    padding: 5vw;
    object-fit: cover;
    /* background-color: black; */
    transition: all 0.5s ease-in-out;
    top: 2vw;
}
#page2-part1 img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

#page2-part2{
    height: 110vh;
    width: 50vw;
    /* background-color: black; */
    padding: 5vw;
}

#page2-part2 img {
    height: 70vh;
    width: 60vh;
    object-fit: cover;
    /* background-color: black; */
    transition: all 0.5s ease-in-out;
}

#page2-part2 img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}